.cookie-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
}
@media (max-width: 414px) {
    .cookie-fixed .f-12-m {
        font-size: 10px;
    }
}