.f-logo {
    margin-top: -35px;
}
.footer .line-left:before {
	content: '';
    position: absolute;
    width: 1px;
    height: 110px;
    top: -35px;
    left: -25%;
    background: #DADADA;
}
.footer .line-left:after {
	display: none;
}
@media (max-width: 575px) {
	.footer p {
		font-size: 12px;
	}
	.f-logo {
	    margin-top: 0; 
	    width: 30%;
	}
	.footer .h4 {
		font-size: 18px;
	}
	.footer .h5 {
		font-size: 14px;
		font-family: 'PT Sans', sans-serif;
	}
	.footer .h5.ls {
		letter-spacing: 1px;
	}
}