.page-collection {
    background-size: 21%!important;
}
.page-collection .text-collection {
    top: 10rem;
} 

@media (max-width: 1199px) {
 	.page-collection .page-collection .text-collection {
	    top: 7rem;
	}
}
@media (max-width: 993px) {
	.page-collection .vert-card {
		margin: auto;
	}
}
@media (max-width: 992px) {
	.page-collection iframe {
		height: 470px!important;
	}
	.page-collection .text-collection {
	    top: -1rem;
	}
}
@media (max-width: 575px) {
	.page-collection iframe {
	    height: 325px!important;
	}
}